<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ConsumerSampleSdk.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>81A853E228324AD4003F695B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81A853F828324AD5003F695B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81A8540228324AD5003F695B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
